/*Team DNA: David Tang, Nurdaulet Kaishibayev, Anson Wong
IntroCS pd7 sec11
HW05: Stuylin'
2021-02-11*/
html
{
    background-color: beige;
}
h1
{
    font-size: 80 px;
    color: brown;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul{
    border-color: antiquewhite;
    font-size: 20 px;
    color: saddlebrown;
}
h2
{
    font-size: 50 px;
    color: darkred;
    font-style: oblique;
}
p{
    font-size: 20 px;
    margin: 20 px;
    color: saddlebrown;
}
a{
    font-style: italic;
    color: brown;
    font-weight: bold;
}
h3{
    font-size: 40 px;
    font-style: oblique;
    color: darkred;
}
